{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('profile') }}
{% endblock %}

{% block body %}
	<div id="profile"></div>
{% endblock %}
