{% extends 'base.html.twig' %}

{% block title %}{{ brewery }}{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('edit') }}
{% endblock %}

{% block body %}
	<div id="edit"></div>
{% endblock %}
