{% extends 'base.html.twig' %}

{% block title %}{{ beer }}{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('edit_beer') }}
{% endblock %}

{% block body %}
	<div id="edit_beer"></div>
{% endblock %}
