{% extends 'base.html.twig' %}

{% block title %}{{ name }}{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('beer') }}
{% endblock %}

{% block body %}
	<div id="beer"></div>
{% endblock %}
