{% extends 'base.html.twig' %}

{% block title %}Login/Register{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('login') }}
{% endblock %}

{% block body %}
	<div id="login"></div>
	<div id="register"></div>
{% endblock %}
