{% extends 'base.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('changePassword') }}
{% endblock %}

{% block body %}
	<div id="change_password"></div>
{% endblock %}
